.App {
    text-align: center;
  }

.form-wrapper{
  width: 80%;
  margin: 0 auto;
}
  
.title-input {
  width: 1500px;
  height: 40px;
  margin: 0px;
  
}

.submit-button {
  width: 200px;
  height: 70px;
  font-size: 20px;
  padding: 20px;
  border: none;
  background: rgb(0, 130, 245);
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  vertical-align: middle;
  cursor: pointer;
}
  
.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
  min-height: 600px;
}